@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@200..900&display=swap');

body{
    background-color: #252626;
    font-family: "Fjalla One", serif;
    margin: 0;
    padding: 0;
}

.navbardiv{
    display: flex;
    justify-content: center;
    padding: 1% 0%;
    position: sticky;
    top: 0;
    margin: 0%;
    z-index: 1000;
    backdrop-filter: blur(60px) saturate(100%);
}

.cart{
    width: 40px;
    height: 40px;
}

.logo-div{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 0.5%;

    .logo{
        width: 33px;
        height: 35px;
        z-index: 1000;
    }
}

.cart-div{
    margin-right: 2%;
}

.navbarlist{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px;
    margin: 1% 0% 1% -5%;
}

.navbarele{
    list-style-type: none;

    a:hover{
        font-size: 30px;
        transition: 0.5s;
        text-shadow: 0px 0px 10px #54f780;
        font-style: oblique;
    }

    a{
        font-size: 25px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }

}


.news-div{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1%;
}


.news{


    a{
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }


    a:hover{
        text-decoration: underline;
        transition: 0.5s;
    }
}




.main-product-img{
    background-image: url(assets/products/gaming-laptop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 120vh;
    margin-top: 2%;
}

.main-product-info{
    color: white;
    font-size: 40px;
}

.main-product-info-div{
    display: flex;
    flex-direction: column;

}

.product-div{
    display: flex;
    justify-content: center;
    margin: 0% 5% 5% 5%;
    flex-direction: column;
}


.product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}



.product-image-mouse{
    background-image: url(assets/products/mouse.png);
}

.product-image-keyboard{
    background-image: url(assets/products/kayboard.png);
}

.product-image-mouse-pad{
    background-image: url(assets/products/mouse-pad.png);
}

.product-image-chair{
    background-image: url(assets/products/chair.png);
}

.product-image-controller{
    background-image: url(assets/products/controller.png);
}

.product-image-pc{
    background-image: url(assets/products/desktop.png);
}

.product-image-headphones{
    background-image: url(assets/products/headphones.png);
}

.product-image-monitor {
    background-image: url(assets/products/monitor.png);
}

.product-image-mic{
    background-image: url(assets/products/mic.png);
}


.product-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 60vh;
    margin-top: 5%;
    -webkit-user-drag: none;
}



.product-info{

    margin-bottom:-5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    p{
        color: white;
    }
}

.product-name{
    font-size: 50px;
    margin-bottom: 0%;
}

.product-subtitle{
    font-size: 25px;
}


.product-link{
    font-size: 20px;
    text-decoration: none;
    color: #54f780;
    transition: 0.5s;
}

.product-link:hover{
    font-size: 25px;
    transition: 0.5s;
    text-shadow: 0px 0px 10px #54f780;
}



.footer{
    background-color: white;
    display: flex;
}

.footer-info{
    padding-left: 1%;
}